.title {
  text-transform: uppercase;
}

.landing {
  width: 500px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  height: 50px;
  width: 300px;

  margin-left: 20px;

  display: grid;
  grid-template-columns: repeat(100, 3px);

  background-color: rgb(231, 231, 231);
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(126, 243, 218, 0.616);
}
.item2 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(126, 243, 218, 0.616);
}
.item3 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(126, 243, 218, 0.616);
}
.item4 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(126, 243, 218, 0.616);
}


